// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "includes/behaviors.dtsi"

#define QWERTY_L 0
#define COLEMAK_L 1
#define CURSOR_L 2
#define SYMBOL_L 3
#define NUM_L 4
#define MAGIC_L 5

/ {
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            display-name = "QWERTY";
            bindings = <
        //╭────────────┬────────────┬────────────┬────────────┬────────────╮   ╭────────────┬────────────┬────────────┬────────────┬────────────╮
            &kp Q        &kp W        &kp E        &kp R        &kp T            &kp Y        &kp U        &kp I        &kp O        &kp P
        //├────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤
            &hml LCTRL A &hml LALT S  &hml LGUI D  &syml SYMBOL_L F &kp G        &kp H        &symr SYMBOL_L J &hmr RGUI K &hmr RALT L &hmr RCTRL SEMI
        //├────────────┼────────────┼────────────┼────────────┼────────────┤   ├────────────┼────────────┼────────────┼────────────┼────────────┤
            &kp Z        &kp X        &kp C        &kp V        &kp B            &kp N        &kp M        &kp COMMA    &kp DOT      &sqt_qmark
        //╰────────────┴────────────┴────────────┼────────────┼────────────┤   ├────────────┼────────────┴────────────┴────────────┴────────────╯
                                               &dsh LSHFT LSHFT &thumb CURSOR_L BSPC      &thumb NUM_L SPACE &kp RET
        //                                     ╰────────────┴────────────╯   ╰────────────┴────────────╯
            >;
        };

        colemak_layer {
            display-name = "Colemak-DH";
            bindings = <
            &kp Q        &kp W        &kp F        &kp P        &kp B            &kp J        &kp L        &kp U        &kp Y        &kp SEMI
            &hml LCTRL A &hml LALT R  &hml LGUI S  &syml SYMBOL_L T &kp G        &kp M        &symr SYMBOL_L N &hmr RGUI E &hmr RALT I &hmr RCTRL O
            &kp Z        &kp X        &kp C        &kp D        &kp V            &kp K        &kp H        &kp COMMA    &kp DOT      &sqt_qmark
                                               &dsh LSHFT LSHFT &thumb CURSOR_L BSPC      &thumb NUM_L SPACE &kp RET
            >;
        };

        cursor_layer {
            display-name = "Cursor";
            bindings = <
            &kp LG(R)    &kp LC(LS(TAB)) &kp LC(TAB) &kp LG(LBKT) &kp LG(RBKT)   &kp PG_UP    &kp HOME     &kp UP       &kp END      &search_selected
            &kp LCTRL    &kp LALT     &kp LGUI     &kp LSHFT    &mkp LCLK         &kp PG_DN    &kp LEFT     &kp DOWN     &kp RIGHT    &kp LC(LG(LS(N4)))
            &kp LG(Z)    &kp LG(LS(Z)) &kp LG(C)   &kp LG(V)    &kp LG(LS(V))     &kp LG(L)    &select_word_back &select_word &select_line &kp LC(LG(LS(N3)))
                                               &trans       &trans                 &kp LG(TAB)  &trans
            >;
        };

        symbol_layer {
            display-name = "Symbol";
            bindings = <
            &kp GRAVE    &kp LT       &kp GT       &kp MINUS    &kp PIPE          &kp CARET    &kp LBRC     &kp RBRC     &kp DLLR     &arrow_morph
            &kp EXCL     &kp STAR     &kp FSLH     &kp EQUAL    &kp AMPS          &kp HASH     &kp LPAR     &kp RPAR     &kp SEMI     &kp DQT
            &kp TILDE    &kp PLUS     &kp LBKT     &kp RBKT     &kp PRCNT         &kp AT       &kp COLON    &kp BSLH     &kp UNDER    &kp QMARK
                                               &trans       &trans                 &trans       &trans
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
            &kp FSLH     &kp N9       &kp N8       &kp N7       &kp STAR          &trans       &trans       &kp LBKT     &kp RBKT     &trans
            &kp MINUS    &kp N3       &kp N2       &kp N1       &kp PLUS          &trans       &kp RSHIFT   &kp RGUI     &kp RALT     &kp RCTRL
            &kp X        &kp N6       &kp N5       &kp N4       &kp PRCNT         &trans       &trans       &kp COMMA    &kp DOT      &trans
                                               &kp N0       &trans                 &trans       &trans
            >;
        };

        magic_layer {
            display-name = "Magic";
            bindings = <
            &kp F1       &kp F2       &kp F3       &kp F4       &kp F5            &kp F6       &kp F7       &kp F8       &kp F9       &kp F10
            &trans       &trans       &kp C_VOL_DN &kp C_VOL_UP &sys_reset        &bootloader  &sys_reset   &kp F11      &kp F12      &trans
            &trans       &trans       &kp C_MUTE   &out OUT_USB &out OUT_BLE      &bt_0        &bt_1        &bt_2        &bt_3        &bt BT_CLR
                                               &tog COLEMAK_L &bootloader           &trans       &trans
            >;
        };
    };

    combos {
        compatible = "zmk,combos";

        //     0  1  2  3  4     5  6  7  8  9
        //     10 11 12 13 14    15 16 17 18 19
        //     20 21 22 23 24    25 26 27 28 29
        //              30 31    32 33
        combo_tab {
            timeout-ms = <35>;
            require-prior-idle-ms = <100>;
            key-positions = <26 27>;
            bindings = <&kp TAB>;
            layers = <QWERTY_L COLEMAK_L>;
        };

        combo_escape {
            timeout-ms = <25>;
            require-prior-idle-ms = <100>;
            key-positions = <21 22>;
            bindings = <&esch LC(LALT) ESC>;
            layers = <QWERTY_L COLEMAK_L>;
        };

        combo_magic {
            timeout-ms = <35>;
            require-prior-idle-ms = <100>;
            key-positions = <20 21>;
            bindings = <&mo MAGIC_L>;
            layers = <QWERTY_L COLEMAK_L>;
        };

        combo_caps_word {
            timeout-ms = <25>;
            require-prior-idle-ms = <100>;
            key-positions = <27 28>;
            bindings = <&caps_word>;
            layers = <QWERTY_L COLEMAK_L>;
        };
    };
};
